/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto Sans Display');
@import url('https://fonts.googleapis.com/css2?family=Noto Sans Mono');

/*body*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {  
    overflow-y: scroll;
    overflow-x: hidden;
}

span.orangetext {
    color: darkorange;
    font-weight: bold;
}
span.graytext {
    color: #aaaaaa;
    font-weight: bold;
}
code {
    font-family: Noto Sans Mono;
    font-size: 1.2vmax;
}

/*navbar*/
#menubar {  
    width: 100vw;
    height: 5vmax;
    background-color: #111111;
    display: flex;
    align-items: center; 
    justify-content: flex-start;  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.2s linear;
}
#menubar #closeicon {
    display: none;
}
#menubar ul {
    width: auto;
    height: 5vmax;
    margin-left: 2vmax;
    display: flex;
    align-items: center; 
    justify-content: flex-start;  
}
#menubar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Noto Sans Display;
    font-size: 1.7vmax;
    margin: 0;
    padding: 1vw; 
    color: white;
    cursor: pointer;
    transition: 0.2s linear;     
}
/* #menubar ul li#aboutMeMenu {
    color: darkorange;
    font-weight: bold;
} */
#menubar ul li:hover {
    color: black;
    background-color: darkorange;
}

#container {
    position: absolute;
    left: 0;
    top: 5vmax;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
section {
    padding: 3vh 6vw 3vh 6vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
    width: 100vw;
}
h1.heading {
    font-family: Noto Sans Display;
    font-size: 3.5vmax;
    font-variant: small-caps;
    margin: 1.5vmax 0 1.5vmax 0;
    text-align: center;
}
h3 {
    font-family: Noto Sans Display;
    font-size: 1.8vmax;
    margin: 1vmax 0 1vmax 0;
    text-align: center;
}
h5 {    
    font-family: Noto Sans Display;
    font-size: 1.4vmax;
    margin: 0.5vmax 0 0.5vmax 0;
    text-align: center;
}
ul {
    width: 90%;
}
p, li {
    font-family: Noto Sans Display;
    font-size: 1.3vmax;
    margin: 0.5vmax 0 0.5vmax 0;
    text-align: justify;
}
p a, li a {
    color: darkorange;
}

/*aboutMe*/
#aboutMe {
    background-color: whitesmoke;
    
}
#aboutMe h1.heading {
    color: #333333;
}
#self {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#Pavan {
    width: 25vmax;
    margin: -3vh 0 -3vh 0;
}
#description {
    margin: 0vmax;
    width: 45vmax;
    height: auto;
}

/*research*/
#research {
    background-color: #222222;
}
#research h1.heading {
    color: darkorange;
}
#rscenvelope {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rsclist {
    width: 90vmax;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 2vmax;
    padding: 2vmax 4vmax 2vmax 4vmax;
    background-color: #333333;
}
.rsclist h3 {
    color: #dddddd;
}
.rsclist p {
    font-family: Noto Sans Display;
    color: white;
}
.rsclist ul li {
    font-family: Noto Sans Display;
    color: white;
    margin: 0.5vmax 0 0.5vmax 2vmax;
}
.rsclist p.centertext {
    align-self: center;
    margin: 0.5vmax;
}
.rsclist #TDEcontainer {
    display: flex;
    justify-content: center;
    align-items: center;;
    flex-wrap: wrap;
}
.rsclist #TDEcontainer #TDEbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vmax;
}
.rsclist #TDEcontainer #TDEbuttons {
    margin: 2vmax;
}
.rsclist #TDEcontainer #TDEparam {    
    display: flex;
}
.rsclist #TDEcontainer h5 {
    color: #aaaaaa;
}
.rsclist #TDEcontainer .TDEoption {
    width: auto;
    background-color: #222222;
    border: none;
    font-family: Noto Sans Display;
    font-size: 1.3vmax;
    color: white;
    margin: 0.5vmax;
    padding: 1vmax;
    cursor: pointer;
}
.rsclist #TDEcontainer .TDEoption:hover {
    background-color: darkorange;
    border: none;
    color: black;
    transition: 0.2s;
    cursor: pointer;
}
.rsclist #TDEcontainer .TDEoption.active {
    background-color: darkorange;
    border: none;
    color: black;
    cursor: pointer;
}
.rsclist #TDEcontainer .TDEoption.inactive {
    background-color: #888888;
    border: none;
    color: black;
    cursor: default;
}
.rsclist #TDEcontainer #TDEdisplay {
    width: 30vmax;
    height: 30vmax;
    margin: 2vmax;
}
.rsclist #TDEcontainer #TDEdisplay video {
    border: 0.2vw solid #aaaaaa;
    width: 100%;
    height: 100%;
}
.rsclist #multcontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1vmax;
}
.rsclist #multcontainer .multpanel {
    width: 30vmax;
    height: auto;
}
.rsclist #multcontainer .multpanel figcaption {
    width: auto;
    font-family: Noto Sans Display;
    font-size: 1.3vmax;
    font-style: italic;
    color: #dddddd;
    margin-top: 0.5vmax;
    text-align: center;
}
.rsclist #multcontainer .multpanel video {
    border: 0.2vw solid #aaaaaa;
    width: 100%;
    height: auto;
    margin-top: 0.5vmax;
}
.rsclist .scrollcontainer {
    overflow-x: auto;
    align-self: center;
    width: 80%;
    flex-grow: 1;
}
.rsclist .scrollcontainer .imgshow {
    width: 60vmax;
    height: auto;
    margin: 1vmax auto;
}
.rsclist .scrollcontainer .imgshow figcaption {
    width: auto;
    font-family: Noto Sans Display;
    font-size: 1.3vmax;
    font-style: italic;
    color: #dddddd;
    margin-top: 0.5vmax;
    text-align: center;
}
.rsclist .scrollcontainer .imgshow img {
    border: 0.2vw solid #aaaaaa;
    width: 100%;
    height: auto;
    margin-top: 0.5vmax;
}


/*education*/
#education {
    background-color: orange;
}
#education h1.heading, li {
    color: black;
}
#ednenvelope {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ednlist {
    width: 20vmax;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 1vmax;
}
.ednlist img {
    width: 6vmax;
    height: 6vmax;
    margin: 1vmax;
}
.ednlist h3 {
    color: #333333;
}
.ednlist h5 {    
    color: #333333;
}

/*tools*/
#tools {
    background-color: whitesmoke;
}
#tools h1.heading {
    color: #333333;
}
#tlsenvelope {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tlslist {
    width: 20vmax;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 1vmax;
}
.tlslist img {
    width: 6vmax;
    height: 6vmax;
    margin: 1vmax;
}
.tlslist h3 {
    text-align: center;
    color: #333333;
}
.tlslist p {    
    font-family: Noto Sans Display;
    margin: 0.25vmax 0 0.25vmax 0;
    color: black;
}

/*activities*/
#activities {
    background-color: orange;
}
#activities h1.heading {
    color: black;
}
#activities ul li {
    margin: 1vmax 0 1vmax 2vmax;
}
#activities ul li a {
    color: #333333;
}

/*contact*/
#contact {
    background-color: #222222;
    padding-bottom: 1vh;
}
#conenvelope {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#contact p {
    color: #dddddd;
    margin: 1vmax 0 1vmax 0;
}
#address {
    width: auto;
    padding: 2vmax;
    height: auto;
    display: flex;
    justify-content: center;
}
#links {
    width: auto;
    padding: 2vmax;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#social i.fa-brands {
    font-size: 3.5vmax;
    margin: 1vmax;
    color: #dddddd;
    opacity: 0.7;
    cursor: pointer;
}
#social i.fa-brands:hover {
    color: white;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 2vmax;
    width: 90vw;
    margin-top: 1vmax;
}
#footer p {
    margin: 0;
    padding: 0.5vmax 0 0.5vmax 0;
    font-size: 1vmax;
    color: white;
}

/*mobile mode*/
@media screen and (orientation: portrait) {
    /*navbar*/
    #menubar {  
        width: 100vw;
        height: auto;
        padding: 0;
        flex-direction: column;
        top: -100vh;
    }
    #menubar #closeicon {
        position: fixed;
        top: 2vmax;
        left: 2vmax;
        display: flex;
        height: 3.5vmax;
        width: 3.7vmax;
        cursor: pointer;        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 15;
    }
    #bar1, #bar2, #bar3 {
        margin: 0.3vmax 0vh 0.3vmax 0vh;
        width: 3.7vmax;
        height: 0.3vmax;
        background-color: black;
        border-radius: 25%;
        transition: 0.2s linear;
    }
    .change #bar1 {
        background-color: white;
        margin: 0vw;
        transform: rotate(-45deg) translateY(0.35vmax);
    }
    .change #bar2 {
        background-color: white;
        margin: 0vw;
        opacity: 0;
    }
    .change #bar3 {
        background-color: white;
        margin: 0vw;
        transform: rotate(45deg) translateY(-0.35vmax);
    }
    #menubar ul {  
        width: 100vw;
        height: auto;
        margin-top: 6vmax;
        flex-direction: column;
        justify-content: center;
    }
    #menubar ul li {  
        width: 100%; 
        margin: 0;
        padding: 1.5vmax 0 1.5vmax 0; 
        font-size: 2.7vmax;
    }
    #menubar.visible {
        top: 0vh;
    }
    h1.heading {
        font-size: 5vmax;
    }
    h3 {
        font-size: 2.8vmax;
    }
    h5 {
        font-size: 2.4vmax;
    }
    p,li {
        font-size: 2.2vmax;
    }
    code {
        font-size: 2.0vmax;
    }

    #container {
        top: 0;
    }

    /*aboutMe*/
    #Pavan {
        width: 30vmax;
        margin: 1vmax;
    }
    #description {
        width: 75vw;
        margin: 1vmax;
    }

    /*research*/
    .rsclist {
        width: 90vw;
        height: auto;
        /* padding: 1vmax; */
        background-color: #222222;
    }
    .rsclist #TDEcontainer #TDEbuttons {
        width: 90vw;
    }
    .rsclist #TDEcontainer .TDEoption {
        background-color: #333333;
        font-size: 2.2vmax;
    }
    .rsclist #TDEcontainer #TDEdisplay {
        width: 70vw;
        height: 70vw;
    }
    .rsclist #multcontainer .multpanel {
        width: 70vw;
    }
    .rsclist #multcontainer .multpanel figcaption {
        font-size: 2.2vmax;
    }
    .rsclist .scrollcontainer {
        width: 100%;
    }
    .rsclist .scrollcontainer .imgshow {
        width: 150vw;
    }
    .rsclist .scrollcontainer .imgshow figcaption {
        font-size: 2.2vmax;
    }

    /*education*/
    .ednlist {
        width: 50vmax;
        min-height: 27vmax;
    }
    .ednlist img {
        height: 10vmax;
        width: 10vmax;
    }

    /*tools*/
    .tlslist {
        width: 50vmax;
        min-height: 25vmax;
    }
    .tlslist img {
        height: 10vmax;
        width: 10vmax;
    }
    .tlslist h3 {
        font-size: 2.5vmax;
    }

    /*activities*/


    /*contact*/
    #social i.fa-brands {
        font-size: 6vmax;
        margin: 2vmax
    }
    #footer p {
        font-size: 1.6vmax;
    }
}