/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto Sans Display');
@import url('https://fonts.googleapis.com/css2?family=Noto Sans Mono');

/*body*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* font-size: 150%; */
    /* font-size: 24px; */
    font-size: 1.3vw;
}
body {  
    overflow-y: scroll;
    overflow-x: hidden;
}

span.orangetext {
    color: darkorange;
    font-weight: bold;
}
span.graytext {
    color: #aaaaaa;
    font-weight: bold;
}
h1.heading {
    font-family: Noto Sans Display;
    font-size: 2.5rem;
    font-variant: small-caps;
    margin: 1rem 0 1rem 0;
    text-align: center;
}
h3 {
    font-family: Noto Sans Display;
    font-size: 1.5rem;
    margin: 0.75rem 0 0.75rem 0;
    text-align: center;
}
h5 {    
    font-family: Noto Sans Display;
    font-size: 1.1rem;
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
}
p, li {
    font-family: Noto Sans Display;
    font-size: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    text-align: justify;
}
p a, li a {
    color: darkorange;
}
code {
    font-family: Noto Sans Mono;
    font-size: 0.9rem;
}
figcaption {
    font-family: Noto Sans Display;
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 0.5rem;
    text-align: center;
}

/*navbar*/
#menubar {  
    width: 100vw;
    height: 8vh;
    background-color: black;
    display: flex;
    align-items: center; 
    justify-content: flex-start;  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.2s linear;
}
#menubar #closeicon {
    display: none;
}
#menubar ul {
    width: auto;
    height: 8vh;
    margin-left: 2rem;
    display: flex;
    align-items: center; 
    justify-content: flex-start;  
}
#menubar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Noto Sans Display;
    font-size: 1.2rem;
    margin: 0;
    padding: 1rem; 
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.2s linear;     
}
#menubar ul li.activeMenu {
    color: black;
    background-color: darkorange;
}
#menubar ul li:hover {
    color: black;
    background-color: #dddddd;
}

#container {
    position: absolute;
    left: 0;
    top: 8vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
section {
    padding: 2rem 4rem 2rem 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
    width: 100vw;
}

/*aboutMe*/
#aboutMe {
    background-color: whitesmoke;
}
#aboutMe h1.heading {
    color: #333333;
}
#self {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#Pavan {
    width: 25vw;
    margin: -2rem 0 -2rem 0;
}
#description {
    margin: 0;
    width: 45vw;
    height: auto;
}

/*research*/
#research {
    background-color: #222222;
}
#research h1.heading {
    color: darkorange;
}
#rscenvelope {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rsclist {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #333333;
}
.rsclist h3 {
    color: #dddddd;
}
.rsclist p {
    font-family: Noto Sans Display;
    color: white;
}
.rsclist ul li {
    font-family: Noto Sans Display;
    color: white;
    margin-left: 2rem;
}
.rsclist #TDEcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;;
    flex-wrap: wrap;
}
.rsclist #TDEcontainer #TDEbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
}
.rsclist #TDEcontainer #TDEbuttons {
    margin: 0.5rem;
}
.rsclist #TDEcontainer #TDEparam {    
    display: flex;
}
.rsclist #TDEcontainer h5 {
    color: #aaaaaa;
}
.rsclist #TDEcontainer .TDEoption {
    width: auto;
    background-color: #222222;
    border: none;
    font-family: Noto Sans Display;
    font-size: 1rem;
    color: white;
    margin: 0.2rem;
    padding: 0.5rem;
    cursor: pointer;
}
.rsclist #TDEcontainer .TDEoption:hover {
    background-color: darkorange;
    border: none;
    color: black;
    transition: 0.2s;
    cursor: pointer;
}
.rsclist #TDEcontainer .TDEoption.activeOption {
    background-color: darkorange;
    border: none;
    color: black;
    cursor: pointer;
}
.rsclist #TDEcontainer .TDEoption.inactiveOption {
    background-color: #888888;
    border: none;
    color: black;
    cursor: default;
}
.rsclist #TDEcontainer #TDEdisplay {
    width: 35vw;
    height: 35vw;
    margin: 0.5rem;
}
.rsclist #TDEcontainer #TDEdisplay video {
    border: 0.1rem solid #aaaaaa;
    width: 100%;
    height: 100%;
}
.rsclist #multcontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0.5rem 0 0.5rem 0;
}
.rsclist #multcontainer .multpanel {
    width: 35vw;
    height: auto;
}
.rsclist #multcontainer .multpanel figcaption {
    color: #dddddd;
}
.rsclist #multcontainer .multpanel video {
    border: 0.1rem solid #aaaaaa;
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
}
.rsclist .scrollcontainer {
    overflow-x: auto;
    align-self: center;
    width: 60vw;
    flex-grow: 1;
}
.rsclist .scrollcontainer .imgshow {
    width: 100%;
    height: auto;
    margin: 0.5rem auto;
}
.rsclist .scrollcontainer .imgshow figcaption {
    color: #dddddd;
}
.rsclist .scrollcontainer .imgshow img {
    border: 0.1rem solid #aaaaaa;
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
}


/*education*/
#education {
    background-color: orange;
}
#education h1.heading, li {
    color: black;
}
#ednenvelope {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ednlist {
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
}
.ednlist img.ednicon {
    width: 6vw;
    height: 6vw;
    margin: 0.5rem;
}
.ednlist h3 {
    color: #333333;
}
.ednlist h5 {    
    color: #333333;
}

/*tools*/
#tools {
    background-color: whitesmoke;
}
#tools h1.heading {
    color: #333333;
}
#tlsenvelope {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tlslist {
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
}
.tlslist img.tlsicon {
    width: 6vw;
    height: 6vw;
    margin: 0.5rem;
}
.tlslist h3 {
    text-align: center;
    color: #333333;
}
.tlslist p {    
    font-family: Noto Sans Display;
    color: black;
}

/*activities*/
#activities {
    background-color: orange;
}
#activities h1.heading {
    color: black;
}
#activities ul li {
    margin-left: 2rem;
}
#activities ul li a {
    color: #333333;
}

/*contact*/
#contact {
    background-color: #222222;
    padding-bottom: 1vh;
}
#conenvelope {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#contact p {
    color: #dddddd;
    text-align: center;
}
#address {
    width: auto;
    height: auto;
    padding: 1rem;
}
#links {
    width: auto;
    padding: 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#social i.fa-brands {
    font-size: 2.5rem;
    margin: 0.7rem;
    color: #dddddd;
    opacity: 0.7;
    cursor: pointer;
}
#social i.fa-brands:hover {
    color: white;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 4vh;
    width: 90vw;
    margin-top: 0.5rem;
}
#footer p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
}

/*mobile mode*/
@media screen and (orientation: portrait) {
    html {
        font-size: 100%;
        /* font-size: 16px; */
        /* font-size: 1.8vh; */
    }
    section {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }

    /*navbar*/
    #menubar {  
        width: 100vw;
        height: auto;
        padding: 0;
        flex-direction: column;
        top: -100vh;
    }
    #menubar #closeicon {
        position: fixed;
        top: 2vh;
        left: 2vh;
        display: flex;
        height: 3.5vh;
        width: 3.7vh;
        cursor: pointer;        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 15;
    }
    #bar1, #bar2, #bar3 {
        margin: 0.3vh 0 0.3vh 0;
        width: 3.7vh;
        height: 0.3vh;
        background-color: black;
        transition: 0.2s linear;
    }
    .change #bar1 {
        background-color: white;
        margin: 0;
        transform: rotate(-45deg) translateY(0.35vh);
    }
    .change #bar2 {
        background-color: white;
        margin: 0;
        opacity: 0;
    }
    .change #bar3 {
        background-color: white;
        margin: 0;
        transform: rotate(45deg) translateY(-0.35vh);
    }
    #menubar ul {  
        width: 100vw;
        height: auto;
        margin: 4rem 0 0 0;
        flex-direction: column;
        justify-content: center;
    }
    #menubar ul li {  
        width: 100%;
        padding: 1rem 0 1rem 0;
    }
    #menubar.visible {
        top: 0;
    }

    #container {
        top: 0;
    }

    /*aboutMe*/
    #aboutMe {
        padding-top: 3rem;
    }
    #Pavan {
        width: 60vw;
        margin: 0.5rem;
    }
    #description {
        width: 80vw;
        margin: 0.5rem;
    }

    /*research*/
    .rsclist {
        width: 80vw;
        height: auto;
        background-color: #222222;
        margin: 0.5rem 0 0.5rem 0;
        padding: 0;
    }
    .rsclist #TDEcontainer #TDEbuttons {
        width: 90vw;
    }
    .rsclist #TDEcontainer .TDEoption {
        background-color: #333333;
    }
    .rsclist #TDEcontainer #TDEdisplay {
        width: 75vw;
        height: 75vw;
    }
    .rsclist #multcontainer .multpanel {
        width: 75vw;
    }
    .rsclist .scrollcontainer {
        width: 100%;
    }
    .rsclist .scrollcontainer .imgshow {
        width: 150vw;
    }

    /*education*/
    .ednlist {
        width: 80vw;
        height: auto;
    }
    .ednlist img.ednicon {
        width: 15vw;
        height: 15vw;
    }

    /*tools*/
    .tlslist {
        width: 80vw;
        height: auto;
    }
    .tlslist img.tlsicon {
        width: 15vw;
        height: 15vw;
    }

    /*activities*/
    #activities ul {
        width: 80vw;
    }


    /*contact*/
}